* {

  padding: 0%;
  margin: 0%;

}


nav {
  background-color: black;
  height: fit-content;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.link {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.link > a {
   display: flex;
   justify-content: space-around;
   padding-right: 10px;
   padding-left: 40px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   color: white;
   text-decoration: none;
}


.link > a:hover {
  cursor: pointer;
}

.logo {

  display: flex;
  justify-content: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  padding: 10px;
  background-color: rgb(11, 161, 11);
}

.mainbody {

  display: flex;
  justify-content: center;
  padding: 10px;
  line-height: 200%;
}

.leftsection {

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px;
  
}


.box {

  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 5px;
  border: 2px solid black;
  width:
  
  
}

h2 {

  display: flex;
  height: 30px;
  width: 100px;
}

ul {
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  width: 120px;
  margin-right: 300px;
  
}

li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  

}

.rightsection {

  display: flex;
  padding:5px;  
}

